* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* fira-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/fira-sans-v16-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/fira-sans-v16-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  font-family: 'Fira Sans';
  font-size: 1.25em;
  background: rgb(81, 108, 109);
}

main {
  width: 100%;
  height: 100vh;
  padding: 1% 5% 0 5%;
  background: rgb(81, 108, 109);
}

.wrapper {
  margin: 0 auto;
  width: 70%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 0.625em;
}

.slider {
  width: 100%;
  border-radius: 0.625em;
  overflow: hidden;
  margin-bottom: 1em;
}

#slider-items {
  width: 400%;
  display: flex;
  flex-wrap: nowrap;
  margin-left: 0;
  transition: all 1s;
}

.slider-item {
  width: 25%;
  border-radius: 10px;
}

.slider-item-img {
  width: 100%;
  height: auto;
  display: block;
}

.text {
  width: 75%;
  overflow: hidden;
  margin-bottom: 1em;
}

.text-items {
  width: 400%;
  display: flex;
  flex-wrap: nowrap;
  font-family: 'Fira Sans';
  font-size: 1.25em;
  transition: all 1s;
}

.text-item {
  width: 25%;
}

.navigation {
  width: 25%;
  display: flex;
  justify-content: end;
  margin-bottom: 1em;
}

input {
  visibility: hidden;
}


#switch1:checked ~ .container .slider #slider-items {
  margin-left: 0;
}
#switch2:checked ~ .container .slider #slider-items {
  margin-left: -100%;
}
#switch3:checked ~ .container .slider #slider-items {
  margin-left: -200%;
}
#switch4:checked ~ .container .slider #slider-items {
  margin-left: -300%;
}

#switch1:checked ~ .container .text .text-items {
  margin-left: 0;
}
#switch2:checked ~ .container .text .text-items {
  margin-left: -100%;
}
#switch3:checked ~ .container .text .text-items {
  margin-left: -200%;
}
#switch4:checked ~ .container .text .text-items {
  margin-left: -300%;
}

#switch1:checked ~ .container .navigation #point1 {
  background: rgb(81, 108, 109);
}
#switch2:checked ~ .container .navigation #point2 {
  background: rgb(81, 108, 109);
}
#switch3:checked ~ .container .navigation #point3 {
  background: rgb(81, 108, 109);
}
#switch4:checked ~ .container .navigation #point4 {
  background: rgb(81, 108, 109);
}

label {
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
  padding-left: 0.5em;
  padding-top: 0.15em;  
}

.point {
  width: 0.6em;
  height: 0.6em;
  border-radius: 0.3em;
  border: solid 0.135em rgb(50, 205, 205);
  background: rgb(50, 205, 205);
  transition: all 0.4s;
}

label:hover .point {
  background: white;
  border: solid 0.135em white;
}

label:active .point {
  transform: scale(0.8);
}

@media (max-width: 767px) {
  .text-items {
    font-size: 0.875em;
  }
}

@media (max-width: 580px) {
  .text-items {
    font-size: 0.750em;
  }
}

@media (max-width: 450px) {
  .container {
    flex-direction: column;
  }

  .text {
    width: 100%;
    order: 2;
  }

  .navigation {
    width: 100%;
    justify-content: center;
    order: 1;
  }
}